<!-- Main user page (rider viewing and requesting). -->
{% extends 'rider/base.html' %}
{% block content %}
<legend class="border-bottom mb-4">Request a Ride</legend>
<article class="media content-section">
    <div class="media-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Request!">
        </form>
    </div>
</article>
<legend class="border-bottom mb-4">Open Rides</legend>
<article class="media content-section">
    <div class="media-body">
        {% if open_rides is not None %}
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Destination</th>
                        <th>Arrival Time</th>
                        <th>View Detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ride in open_rides %}
                        <tr>
                            <td>{{ ride.destAddr }}</td>
                            <td>{{ ride.reqArrvDateTime }}</td>
                            <td>
                                <form method="get" action="/ride_details">
                                    <input type="hidden" name="rideid" value="{{ ride.id }}">
                                    <button type="submit" class="btn btn-primary">
                                        View Detail
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No open rides</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</article>
<legend class="border-bottom mb-4">Confirmed Rides</legend>
<article class="media content-section">
    <div class="media-body">
        {% if confirmed_rides is not None %}
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Destination</th>
                        <th>Arrival Time</th>
                        <th>View Detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ride in confirmed_rides %}
                        <tr>
                            <td>{{ ride.destAddr }}</td>
                            <td>{{ ride.reqArrvDateTime }}</td>
                            <td>
                                <form method="get" action="/ride_details">
                                    <input type="hidden" name="rideid" value="{{ ride.id }}">
                                    <button type="submit" class="btn btn-primary">
                                        View Detail
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No confirmed rides</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</article>
{% endblock %}